/* Title styles */
h3, /* heading of blog post */
h6 {
  /* date of blog post */
  margin: 0.3rem; /* shrinking margin between the titles */
}

/* Paragraphs */
p {
  margin: 1rem; /* adds space around text */
}

/* Main Heading */
h1 {
  text-align: center; /* aligning heading to center */
}

/* portrait of each blog */
.blog-port {
  display: none; /* the portrait is not shown during mobile use */
}

/* style settings when in tablet size */
@media only screen and (min-width: 401px) and (max-width: 899px) {
  /* main > section > h3 + h6 + div > img + p --- This was a just to help me remember what the heirarchy was */
  /* the parent div of image and paragraph */
  .img-para {
    display: flex; /* making the two children flex boxes */
  }

  section div img {
    width: 150%;
  }

  /* img within the blog post */
  .blog-port {
    display: inline; /* re-defining the display of img. This makes it visible, since earlier i set it to none.  */
  }
}

/* style settings when on monitors */
@media only screen and (min-width: 900px) {
  /* main > section > h3 + h6 + div > img + p */
  /* The parent of all content on page outside of footer and navbar */
  main {
    display: flex; /* everythings flexbox! */
  }

  /* section holds each blog post */
  section {
    display: block; /* changing the display to block */
    justify-content: space-around; /* adds space around elements */
    width: 24%; /* setting width to fit 4 blogs on a row */
  }

  .img-para {
    display: flex;
    flex-wrap: wrap; /* p now wraps under img */
    justify-content: center;
  }

  .blog-port {
    display: inline;
    width: 90%;
  }
}
