h4 {
  text-align: center;
}

/* Project section - setting children to flex box and wrap*/
#projects ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  justify-content: center;
}
/* list items. giving border + removing list style + setting uniform size */
#projects ul li {
  list-style: none; /* removing dot points on the list items */
  text-align: center; /* aligning text to center of boxes */
  width: 40%; /* width to set uniform size of boxes */
  margin: 0.6rem;
}
#projects ul li a p {
  margin: 0px; /* Reducing the white space that the web name takes up */
}

#projects ul li a img {
    border: 1px solid black; /* Thought the websites looked good with a black border */
}
