/* Heading */
h1 {
  text-align: center; /* aligning heading to center */
}

/* style settings when in tablet size */
@media only screen and (min-width: 420px) and (max-width: 899px) {
  /* minimum pixel width 401, maximum 899 pixels */
  /* section holds all elements */
  section {
    display: flex; /* setting children to flex box and wrap */
    justify-content: space-around; /* adds space between all child elements */
    flex-wrap: wrap; /* makes the children elements wrap when they no longer fit on the same line */
  }
  /* articles are each element holding a hobby */
  article {
    width: 45%; /* setting a uniform width to fit 2 elements per line */
    border: var(--main-color-fade) solid 1px; /* adds a border with some colour */
    border-radius: 2%; /* giving the borders sharp corners some softness */
    padding: 0 10px; /* gives no padding(space around the img + p but within the border) to the top and bottom and 10px of padding to the left and right */
    margin: 5px 0; /* gives space to the top and bottom but not to the sides. outside of the border*/
  }
  /* the horizontal line that seperates each hobby */
  hr {
    display: none; /* removes the line from display */
  }
}

/* style settings when in larger screen sizes */
@media only screen and (min-width: 900px) {
  /* minimum width for this style to kick in is 900px it's all the same settings as above */
  section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  article {
    width: 30%;
    margin: 5px 0;
  }

  hr {
    display: none;
  }
}
